Repository clubhousegolfcanada/clubos-v3: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.js": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ]
}

feat: add backend service tests for actionExecutor and notifications
  .github/workflows/ci-cd.yml
  .github/workflows/security.yml
  backend/tests/unit/services/actionExecutor.test.js
  backend/tests/unit/services/notifications.test.js
  docs/GITHUB_SECRETS_SETUP.md
  frontend/package.json
  package-lock.json
Due: eslint --fix, prettier --write

docs: update project status and version to 0.4.1
  CHANGELOG.md
  CURRENT_WORK.md
  PRODUCTION_READINESS_TODO.md
  package.json
Due: prettier --write

docs: complete context update for perfect session handoff
  CLAUDE_MASTER_CONTEXT.md
  CURRENT_WORK.md
  README.md
  ROADMAP_LIVE.md
  SESSION_LOG_20250802.md
Due: prettier --write

fix: Update railway.json to fix deployment error
  backend/railway.json
Due: prettier --write

fix: Remove restartPolicy from railway.json to fix deployment
  backend/railway.json
Due: prettier --write

fix: Remove railway.json to use Railway defaults
  backend/railway.json
Due: prettier --write

fix: Remove railway.toml to fix deployment error
  backend/scripts/add-database-url.md
  railway.toml
Due: prettier --write

fix: Add start script for Railway deployment
  package.json
Due: prettier --write

fix: Revert Redis optional change - keeping Redis required
  backend/scripts/test-deployment.sh
Due: none

feat: Add admin migration endpoint for Railway setup
  backend/src/index.js
  backend/src/routes/admin.js
Due: eslint --fix, prettier --write

fix: Regenerate package-lock.json files to sync dependencies
  backend/package-lock.json
  package-lock.json
Due: prettier --write

fix: Correct pool import destructuring in healthMonitor and index.js
  backend/src/index.js
  backend/src/services/healthMonitor.js
Due: eslint --fix, prettier --write

fix: Add backend package-lock.json for Railway deployment
  backend/package-lock.json
Due: prettier --write

fix: Remove Dockerfile and update package-lock for Railway
  backend/Dockerfile
  backend/package-lock.json
  package-lock.json
Due: prettier --write

fix: Remove docker-compose.yml to prevent Railway confusion
  MIGRATION_PLAN.md
  docker-compose.yml
Due: prettier --write
